body { background:rgb(255, 255, 255); }
form { max-width:420px; margin: auto; }

.contact {
  display: flex;
  flex: content;
}

.feedback-input {
  color:black;
  font-family: Montserrat, sans-serif;
  font-weight:500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border:1px solid #aaa;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}

.feedback-input:focus { border:2px solid #33b633; }

textarea {
  height: 150px;
  max-height: 200px;
  line-height: 150%;
  resize:vertical;
  font-family: Montserrat, sans-serif;
}

.greenHeader {
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  padding-bottom: 20px;
  text-align: center;
  color:#33b633
}

[type="submit"] {
  width: 100%;
  min-height: 50px;
  background:#33b633;
  border-radius:5px;
  cursor: pointer;
  color:white;
  font-size: 1.2rem;
  transition: all 0.3s;
  font-weight:700;
}

[type="submit"]:hover { background:#09bef0; }