.login {
    width: 100vw;
    height: auto;
    display: flex;
    align-items: center;
    padding-top: 40px;
    flex-direction: column;
  }
  
  .login .input,
  .button {
    width: 200px;
    height: 50px;
    border: none;
    margin: 10px;
  }
  
  .login .button {
    background-color: #09bef0;
    color: white;
  }
  
  .login .input {
    border: 2px solid #08a71d;
  }