.loginContainer {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 1.2rem;

  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 40vw;
  min-width: 350px;
  max-width: 450px;
  height: 30vh;
  max-height: 500px;

  padding: 30px;
  background-color: white;
  border-radius: 10px;
  transform: translate(calc(50vw - 50%), calc(40vh - 50%));
  position: relative;
}

.modal1{
  min-height: 350px;
}

.modal2 {
  min-height: 500px;
}

.loginContainer #inputCreatePost {
  font-family: Montserrat;
  height: 50px;
  margin-top: 10px;
  margin-bottom: 5px;
  border: 1px solid grey;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 15px;
}

.loginButton {
  font-family: Montserrat;
  min-height: 50px;
  border: none;
  background-color: #33b633;
  color: white;
  position: relative;
}

.loginButton:hover {
  cursor: pointer;
  background-color: #09bef0;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 30px;
}

.loginContainer form {
  width: 100%;
}

span {
  color: red;
}