.log-item {
    font-family: Montserrat, sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    margin: 1rem 0;
    background-color: rgb(250, 250, 250);
    border: 2px solid#ddd;
    border-radius: 6px;
  }
 .log-item__description {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    justify-content: flex-start;
    flex: 1;
  }
  
  .log-item h2 {
    font-size: 1rem;
    flex: 1;
    margin: 0 1rem;
    color: #444;
  }
  
  .log-item__price {
    font-size: 1rem;
    font-weight: 600;
    color: #33b633;
    padding: 0.5rem;
  }
  
  @media (min-width: 580px) {
    .log-item__description {
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      flex: 1;
    }
  
    .log-item__description h2 {
      font-size: 1.25rem;
      padding-left: 20px;
    }
  
    .log-item__price {
      font-size: 1.4rem;
      padding: 0.5rem 1.5rem;
    }
  }