.graphbar {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .graph-inner {
    height: 100%;
    width: 3vw;
    min-width: 25px;
    max-width: 35px;
    border: 2px solid #ddd;
    border-radius: 30px;
    background-color: #ffffff;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .graph-fill {
    background-color: #33b633;
    width: 100%;
    transition: all 0.3s ease-out;
  }

  .graph-label {
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    font-size: 0.8rem;
    text-align: center;
    padding-top: 5px;
    color: #444;
  }